{{!view App.NavbarView}}
<div class="container root">
  <div class="row">
    <div class="span6 global feed">
      <h1>Global Feed</h1>
      {{outlet global}}
    </div>
    <div class="span6">
      <div class="preview">
        <h1>Preview</h1>
        {{outlet preview}}
      </div>
      <div class="profile feed">
        <h1>Person</h1>
        {{outlet profile}}
      </div>
    </div>
  </div>
</div>
