{{#each post in posts}}
  <div class="special">
    {{!#linkTo 'link' link.post}}
    <a {{action testFoo post.link target="parentView"}}>hey</a>
    {{!/linkTo}}
  </div>
{{/each}}

<h1>{{link.title}}</h1>
<iframe width="560" height="315" {{bindAttr src="link.videoUrl"}} frameborder="0" allowfullscreen></iframe>
