<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/">LinkLib</a>
      <div class="pull-right">
        <ul class="nav">
          <li>
          <a {{bindAttr href="App.Bookmarklet.href"}}>
            Drag this into your bookmark bar
          </a>
          </li>
        </ul>
        <a class="btn btn-primary" {{bindAttr href="App.Bookmarklet.href"}}>Capture</a>
      </div>
    </div>
  </div>
</div>
