<h1>Signup</h1>
{{#view App.SignupForm}}
  {{!view App.SignupUsernameTextField}}
  {{view Ember.TextField valueBinding="App.SignupController.username"}}

  {{view App.SignupPasswordTextField}}
  {{!view App.SignupSubmitButton}}
  {{App.SignupController.username}}
  <input type="submit" class="btn">
{{/view}}
